
blockquote {
    font-style: italic;
    color: #222;
    border-left: 3px solid #999;
    padding-left: 12px;
    margin: 15px 0 15px 4px;
}

a {
    color: #007793;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs,
.hljs-subst,
.hljs-name,
.hljs-attr {
    color: #49483e;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
    color: #75715e;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link,
.hljs-built_in,
.hljs-variable.constant_ {
    color: #684d99;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
    color: #f9005a;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class,
.hljs-params,
.hljs-title.class_,
.hljs-class .hljs-title,
.hljs-attribute {
    color: #679c00;
}

.hljs-symbol,
.hljs-title.function_ {
    color: #0089b3;
}

.hljs-string,
.hljs-type,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
    color: #998f2f;
}